<!DOCTYPE html>
<html>
    <head>
        <title>
            Educative : Analysis Result
        </title>
        <link rel="stylesheet" href="/static/styles/table.css">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container table-active">
            {{data | safe }}
        </div>
        <div class="container">
            <h2>Download File</h2>
            <div>
                <a href="{{url_for('download_excel_file')}}">Download File</a>
            </div>
        </div>
    </body>
</html>